body {
    background-color: rgba(201, 186, 186, 0);
}

.top-nav {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    margin: 10px 0 10px 0;
    padding: 0 80px 0 80px;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav li {
    float: left;
}

.menu-bar {
    width: 100%;
    padding: 0 100px 0 100px;
    min-height: 50px;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-bar ul li {
    float: left;
}

.menu-bar ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-bar ul li a:hover {
    display: block;
    color: white;
    background-color: rgb(88, 79, 79);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav .logo {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
}

.search-container {
    margin: 40px auto 40px auto;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: solid;
    border-width: 0.5px;
    border-color: #ccc;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.search i {
    width: 28px;
    height: 35px;
    padding: auto auto auto auto;
    font-size: 1.5rem;
}

.search {
    width: 100%;
    height: 100%;
    padding: 8px;
}

input[type=text] {
    width: 400px;
    height: 25px;
    padding: 0 0 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

input:focus {
    outline: none;
}

::placeholder {
    color: rgb(155, 148, 148);
}

input[type=submit] {
    width: 100px;
    height: 45px;
    padding: 6px 6px 6px 10px;
    margin: 0 0 0 15px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    color: black;
}

.show-menu-title {
    margin: 15px 0px 0 50px;
}

.show-menu {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin: 10px 0 0 0;
}

.menu-box {
    width: 240px;
    height: fit-content;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 15px 0;
}

.menu-box img {
    width: 100%;
    height: 260px;
    border-radius: 3px;
}

.menu-box .menu-name {
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.pagination {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 0 0 15px 0;
}

.pagination ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 5px;
}

.pagination li {
    display: inline;
    background-color: white;
    border-radius: 3px;
    padding: 5px 0 5px 0;
    margin: 0 10px 0 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.pagination li a {
    text-align: center;
    padding: 10px 10px 10px 10px;
}